*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#MainBox{
    display: flex;
    width: 100%;
    height: 790vw;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.backgroundImgBox{
    display: flex;
    width: 100%;
    height: 190vw;
    position: relative;
    z-index: 0;

}

.background-image{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    clip-path: inset(-0% -100% -100% -100%);
}

.introBookingBox{
    display: flex;
    width: 65vw;
    height: 50vw;
    flex-direction: column;
    align-items: center;
    margin-top: -130vw;
    z-index: 1;
}

.introBookingTitle{
    color: white;
    font-weight: bold;
    font-size: 8.5vw;
    text-align: center;
}

.introBookingDescription{
    color: white;
    margin-top: 3vw;
    margin-left: 8vw;
    margin-right: 8vw;
    font-weight: bold;
    font-size: 3.5vw;
    text-align: center;
}

.introBookingButton{
    display: flex;
    color: white;
    width: 30vw;
    height: 8vw;
    margin-top: 8vw;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #992B17;
}

.introBookingButton:hover{
    color: #D8C05B;
    transition-duration: 0.5s;
}

.bookingBox1{
    display: flex;
    width: 100%;
    height: 300vw;
    margin-top: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, black, #D8C05B);
}

.bookingBox2{
    display: flex;
    width: 100%;
    height: 300vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, black, #D8C05B);
}

#bookingBoxScrollMarker{
    margin-top: 10vw;
}

.bookingRoomBox{
    display: flex;
    width: 80vw;
    height: 280vw;
    flex-direction: column;
    justify-content: end;
}

.bookingBoxTitle{
    color: white;
    font-weight: bold;
    margin-top: 0.2vw;
    font-size: 8.5vw;
    text-align: center;
}

.bookingBoxDescription{
    color: white;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    font-weight: bold;
    font-size: 3.5vw;
    font-style: italic;
    text-align: center;
}

.topBox{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.roomBox1{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.roomBox2{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.roomBox3{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.roomBox4{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.roomBox5{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.roomBox6{
    display: flex;
    width: 50vw;
    height: 70vw;
    flex-direction: column;
}

.imgTopRoomBox{
    display: flex;
    width: 100%;
    height: 45%;
}

.roomImg{
    display: flex;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.3vw;
    border-top-right-radius: 0.3vw;
}

.textBottomRoomBox{
    display: flex;
    width: 100%;
    height: 55%;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0.3vw;
    border-bottom-right-radius: 0.3vw;

    background-color: black;
}

.roomTitle{
    color: white;
    font-weight: bold;
    margin-top: 1.6vw;
    font-size: 4.3vw;
    text-align: center;
}

.roomDescription{
    color: white;
    margin-top: 1.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: bold;
    font-size: 2.5vw;
    font-style: italic;
    text-align: center;
}

.pricingBookingBottomBox{
    display: flex;
    width: 100%;
    height: 13vw;
    margin-top: 12.1%;
    justify-content: space-evenly;
    align-items: center;
}

.textRoomPrice{
    color: white;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
}

.roomButton{
    display: flex;
    color: white;
    width: 20vw;
    height: 8vw;
    justify-content: center;
    align-items: center;
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #992B17;
}

.roomButton:hover{
    color: #D8C05B;
    transition-duration: 0.6s;
}